@import './_scss/variables';
@import './_scss/tools.functions';
@import './_scss/generic.normalize';
@import './_scss/objects.global';
@import './_scss/trumps.helpers';

.banner {
  background-size: 100% 100% !important;
  height: calculate-rem({{height}});
  width: calculate-rem({{width}});
}

.banner-border {
  border: calculate-rem(1px) solid $black;
  height: calculate-rem({{height}} - 2);
  position: absolute;
  width: calculate-rem({{width}} - 2);
}

.full-dimension {
  height: calculate-rem({{height}});
  width: calculate-rem({{width}});
}

.slide-container {
  height: calculate-rem({{height}});
  width: calculate-rem({{width}});
}


/* ==========================================================================
  ADD CODE BELOW THIS LINE.
========================================================================== */
