@import './variables';
@import './global';
@import './normalize';

.banner {
  background-size: 100% 100% !important;
  height: 250 + px;
  width: 300 + px;
}

.banner-border {
  border: 1px solid $black;
  height: 250 - 2 + px;
  position: absolute;
  width: 300 - 2 + px;
}

.full-dimension {
  height: 250 + px;
  width: 300 + px;
}

.slide-container {
  height: 250 + px;
  width: 300 + px;
}
