@import './_scss/variables';
@import './_scss/tools.functions';
@import './_scss/generic.normalize';
@import './_scss/objects.global';
@import './_scss/trumps.helpers';

.banner {
  background-size: 100% 100% !important;
  height: calculate-rem(250);
  width: calculate-rem(300);
}

.banner-border {
  border: calculate-rem(1px) solid $black;
  height: calculate-rem(250 - 2);
  position: absolute;
  width: calculate-rem(300 - 2);
}

.full-dimension {
  height: calculate-rem(250);
  width: calculate-rem(300) !important;
}

.slide-container {
  height: calculate-rem(250);
  width: calculate-rem(300);
}


/* ==========================================================================
  ADD CODE BELOW THIS LINE.
========================================================================== */
