@import './_scss/variables';
@import './_scss/tools.functions';
@import './_scss/generic.normalize';
@import './_scss/objects.global';
@import './_scss/trumps.helpers';

.banner {
  background-size: 100% 100% !important;
  height: calculate-rem(500);
  width: calculate-rem(200);
}

.banner-border {
  border: calculate-rem(1px) solid $black;
  height: calculate-rem(500 - 2);
  position: absolute;
  width: calculate-rem(200 - 2);
}

.full-dimension {
  height: calculate-rem(500);
  width: calculate-rem(200);
}

.slide-container {
  height: calculate-rem(500);
  width: calculate-rem(200);
}
