/* ==========================================================================
  HELPERS
========================================================================== */

.hide {
  filter: alpha(opacity=0);
  opacity: 0;
}

.top-left {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.dummy-text {
  color: $white;
  text-align: center;
}

// Required by DoubleClick
#bg-exit {
  background-color: $white-transparent;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#covering-div {
  background-color: $white;
  height: 100%;
  position: absolute;
  top: 0;
  transition: opacity 1.2s ease;
  width: 100%;
}
