/* ==========================================================================
  NORMALIZE
========================================================================== */


/* ==========================================================================
  Base
========================================================================== */

// 1. Set default font family to sans-serif.
// 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
html {
  // font-family: $font-family; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-weight: 100;
}

// Remove default margin.
body {
  margin: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ==========================================================================
  Links
========================================================================== */

a {
  text-decoration: none;

  // Address `outline` inconsistency between Chrome and other browsers.
  &:focus {
    outline: thin dotted;
  }

  // Improve readability when focused and also mouse hovered in all browsers.
  &:active,
  &:hover {
    outline: 0;
  }
}
